site_name: geohey
site_description: A Python package demo for geospatial analysis
site_author: giswqs
site_url: https://geohey.gishub.org
repo_url: https://github.com/giswqs/geohey

copyright: "Copyright &copy; 2024 - 2024 Qiusheng Wu"

theme:
    palette:
        - scheme: default
          #   primary: blue
          #   accent: indigo
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
    name: material
    icon:
        repo: fontawesome/brands/github
    # logo: assets/logo.png
    # favicon: assets/favicon.png
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.top
        - search.highlight
        - search.share
    custom_dir: "docs/overrides"
    font:
        text: Google Sans
        code: Regular

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - git-revision-date-localized:
          enable_creation_date: true
          type: timeago
    # - pdf-export
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True
          execute: True
          allow_errors: false
          ignore: ["conf.py"]
          execute_ignore: ["labs/lab5.ipynb", "labs/lab4.ipynb", "vector.ipynb"]

markdown_extensions:
    - admonition
    - abbr
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X

nav:
    - Home: index.md
    - Installation: installation.md
    - Usage: usage.md
    - Contributing: contributing.md
    - FAQ: faq.md
    - Changelog: changelog.md
    - Report Issues: https://github.com/giswqs/geohey/issues
    - API Reference:
          - geohey module: geohey.md
          - common module: common.md
          - utils module: utils.md
    - Examples:
          - examples/intro.ipynb
          - examples/random.ipynb
          - examples/demo.ipynb
          - examples/csv.ipynb
    - Python Basics:
          - python/01_getting_started.ipynb
          - python/02_variables_data_types.ipynb
          - python/03_introducing_lists.ipynb
          - python/04_working_with_lists.ipynb
          - python/05_if_statements.ipynb
          - python/06_dictionaries.ipynb
          - python/07_user_input_while_loops.ipynb
          - python/08_functions.ipynb
          - python/09_classes.ipynb
          - python/10_files_and_exceptions.ipynb
    - Labs:
          - labs/lab4.ipynb
          - labs/lab5.ipynb
